@tailwind base;
@tailwind components;
@tailwind utilities;

.fsum {
	& .ko-fi::after {
		content: '\f004';
		font-weight: 900;
		font-size: 0.4rem;
		color: #ff5e5e;
		position: absolute;
		margin: 0.42rem 0 0 -0.74rem;
	}
}
